.venv
input.txt
debug_out.txt
debugout.txt
output.txt
branch_and_bound/Constants.py
branch_and_bound/output/debug_out.txt
branch_and_bound/output/output.txt
branch_and_bound/output/simulation.json.txt

genetic.py/Constants.py
genetic/output/debug_out.txt
genetic/output/output.txt
genetic/output/simulation.json.txt

v3/hybrid_v2/Constants.py
v3/hybrid_v2/output/simulation.json
v3/hybrid_v2/output/debug_out.txt
v3/hybrid_v2/output/simulation

nohup.out

__pycache__/